@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

:root {
  --light_background: #fafafa;
  --light_text-main: #272743;
  --dark_background: #262525;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: var(--light_background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* light theme mode */
}

/* * {
  outline: solid black 1px;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#denildenilson {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  position: relative;
  animation: change 4s ease-in-out infinite;
  background-clip: var(--light_text-main);
  -webkit-background-clip: text;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

#me-picture {
  width: 216px;
  height: 269px;
  background-image: url(https://i.imgur.com/M9InuM8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: 0px -180px; */
  /* background-size: cover; */
  margin: auto;
  border-radius: 12px;
}

#project_vis--web1 {
  width: 256px;
  height: 192px;
  background-image: url(https://i.imgur.com/uoerbju.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 12px 12px 0 0;
}

@media (min-width: 1024px) {
  #me-picture {
    width: 300px;
    height: 400px;
  }
}
